<div class="row">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mt-4">Sign Up</h4>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{ 'is-invalid': signupForm.get('email').invalid && signupForm.get('email').touched && signupForm.get('email').dirty }"
            >
            <div class="invalid-feedback">
              Please provide a valid email
            </div>
            <!-- /.invalid-feedback -->
          </div>
          <!-- /.form-group -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{ 'is-invalid': signupForm.get('password').invalid && signupForm.get('password').touched && signupForm.get('password').dirty }"
            >
            <div class="invalid-feedback">
              Please provide a valid password
            </div>
            <!-- /.invalid-feedback -->
          </div>
          <!-- /.form-group -->
          <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input
              type="password"
              id="passwordConfirm"
              class="form-control"
              formControlName="passwordConfirm"
              [ngClass]="{ 'is-invalid': signupForm.get('passwordConfirm').invalid
              && signupForm.get('passwordConfirm').touched && signupForm.get('passwordConfirm').dirty }"
            >
            <div class="invalid-feedback">
              Please provide a valid password
            </div>
            <!-- /.invalid-feedback -->
          </div>
          <!-- /.form-group -->
          <button type="submit" class="btn btn-warning text-white btn-lg mb-4" [disabled]="signupForm.invalid">Sign Up</button>
          <span>/ <a class="btn btn-link text-info" (click)="navigateLogin()">Login</a> if you have an account</span>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-6 -->
</div>
<!-- /.row -->

